<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<h1><%= @number %></h1>
	<form action="/plus" method="post">
		<input type="submit" value="+" class="cal">
	</form>
	<form action="/minus" method="post">
		<input type="submit" value="-" class="cal">
	</form>
	<form action="/multi" method="post">
		<input type="submit" value="×2" class="cal">
	</form> 
		<form action="/division" method="post">
		<input type="submit" value="÷2" class="cal">
	</form> 
	<form action="/clear" method="post">
		<input type="submit" value="clear" class="cal">
	</form> 
	<br>
	<h2>
		<form action="/text" method="post" class="form" >
			<input type="text" name="text" class="text" value="<%=@text %>">
			<button type="submit" value="更新" class="button"></button>
		</form>
	</h2>
	<h1><%= @number2 %></h1>
	<form action="/plus2" method="post">
		<input type="submit" value="+" class="cal">
	</form>
</body>
</html>
